

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-image: url('https://img.meta.com.vn/Data/image/2021/09/21/hinh-anh-cho-con-5.jpg');
    background-repeat: no-repeat;
    
}
.inner__button{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #FFC0CB;
    outline: none;
    font-size: 28px;
    border-radius: 30px;
    cursor: pointer;
    color: aliceblue;

}
.inner__title{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    display: none;
    color: #FF69B4;
}

.show{
    display: block;
}
